@charset "utf-8";

/* PROTÓTIPO PORTFÓLIO */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url('background.jpg'), #fff;
    background-size: 50px 50px;
    animation: background-anime 50s linear infinite;
}
@keyframes background-anime {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* LOGO PRINCIPAL */

.logo-principal {
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 50px;
    border-radius: 50%;
    background-image: url('logo-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-principal::before {
    content:'';
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: -5%;
    box-shadow: inset 0 0 0 2px #b4bde0;
    animation: clipme 5s linear infinite;
}
@keyframes clipme {
    0%, 100% {
        clip: rect(20px , 225px, 140px, 0px);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CONF. BUTTON LINKS */

.list-port {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}
li {
    width: 100%;
}
.btn {
    width: 100%;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: start;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #b4bde0;
    padding: 0.5rem 0.8rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(4%) translateX(1%);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}
.logo-img {
    margin-right: 50px;
    animation: logoanime 2s linear infinite;
}
@keyframes logoanime {
    30% {
        transform: translateY(-2px);
    }
    60% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}